<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 
		sawon s = new Sawon()
		s.setSabun(1);
		list.add(s)
		=====================
		s.setSabun(2);
		list.add(s)
		==> 값이 같음
		
		sawon s = new Sawon();
		s.setSabun(1);
		list.add(s)
		=====================
		Sawon s = new Sawon();
		s.setSabun(2);
		list.add(s)
		..
		..
		..
		SawonContainer sc = new SawonContainer();
		sc.list.add(s);
	 -->
	 <!-- id와 class를 지정하는 것 :: 메모리를 할당 -->
	<bean id="s" class="com.sist.spring.Sawon">
		<property name ="sabun">
			<value>1</value>
		</property>
		<property name ="name">
			<value>홍길동</value>
		</property>
		<property name ="age">
			<value>34</value>
		</property>
		<property name ="sex">
			<value>남성</value>
		</property>
	</bean>
	<bean id="s1" class="com.sist.spring.Sawon">
		<property name="sabun" value="2"/>
		<property name="name" value="호호아줌마"/>
		<property name="age" value="88"/>
		<property name="sex" value="여성"/>
	</bean>
	
	<bean id="s2" class="com.sist.spring.Sawon"
		p:sabun="3"
		p:name="이순신"
		p:age="27"
		p:sex="남성"	
	/>
	<!-- 
		ApplicationContext
		
		Map
		==================
		ID : 할당된 클래스 주소
		==========================================
		s : Class.forName("com.sist.spring.SawonContainer")
		==============================================
		s1 : Class.forName("com.sist.spring.SawonContainer")
		===============================================
		s2 : Class.forName("com.sist.spring.SawonContainer")


		Class ApplicationContext{
			private Map map = new HashMap();
			public ApplicationContext(){
			
			==> xml 파싱
				map.put("a",Class.forName("A"));
				map.put("b",Class.forName("A"));
				map.put("c",Class.forName("A"));
				map.put("d",Class.forName("A"));
			}	
			public Object getBean(String id){
			
				return map.get(id);
			}
			
			A a = (A)app.getBean("a");
			xml에 등록되어야 찾음
		}
		setter DI		
	 -->
	<bean id="sc" class="com.sist.spring.SawonContainer">
		<property name="list">
			<list>
				<ref bean="s"/> <!-- list.add(s) -->
				<ref bean="s1"/><!-- 객체 주소 -> ref=bean태그의 id명  -->
				<ref bean="s2"/>
			</list>
		</property>
	</bean>
</beans>
